@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff0f5; 
  color: #000; 
}

header {
  background: linear-gradient(to right, #ff69b4, #d66dd3); 
  color: white;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #f06292; 
}

.nav li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 12px 18px;
  display: block;
  transition: background-color 0.3s;
}

.nav li a:hover {
  background-color: #ec407a; 
  border-radius: 5px;
}

.contenedor {
  padding: 30px;
  gap: 40px;
}

.contenedor-horizontal {
  display: flex;
  flex-wrap: wrap;
}

.contenedor-vertical {
  display: flex;
  flex-direction: column;
}

.columna {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.foto-circular {
  text-align: center;
  width: 180px;
  height: 180px;
  object-fit: cover;
  object-position: 100% 0%;
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px;
  border: 3px solid #f06292; 
}

.columna h2 {
  color: #d81b60;
  margin-top: 20px;
}

.columna p,
.columna li,
.columna a {
  color: #000;
  font-weight: 400;
  line-height: 1.6;
}

.columna a {
  text-decoration: none;
}

.columna a:hover {
  text-decoration: underline;
}

footer {
  background-color: #f8bbd0;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  color: #880e4f;
  font-weight: 500;
}

.post-foto.chica {
  width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  margin: 15px auto;
}

.post-foto.chica.mediana {
  width: 700px;
}


.footline {
  font-size: 0.9rem;
  color: #666;
  margin-top: 15px;
  border-top: 1px solid #ddd;
  padding-top: 8px;
}
